@import "./base.css";

body {
  display: flex;
  place-items: center;
}

#app {
  flex: 1 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1em;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {


} */
