<script setup lang="ts">
import type { FullTestReport } from 'reportSchema'
import { computed } from 'vue';
  
const props = defineProps<{
  report: FullTestReport
}>()

const styles = computed(() => ({ '--rate': (props.report.rate * 100) + '%' }))
</script>

<template>
  <article :style="styles">
    <h2 class="mdi mdi-motion-play">Tous les tests</h2>
    <div class="rate">
      {{ (report.rate * 100).toFixed(0) }}%
    </div>
    <div class="grade">
      <span class="grade-value">{{ report.grade.value.toFixed(2) }}</span>
      <span class="grade-maximum">{{ report.grade.maximum.toFixed(2) }}</span>
    </div>
  </article>

</template>

<style scoped>
article {
  margin: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 3%);
  
  display: flex;  
  flex-wrap: wrap;
  place-items: center;
  justify-content: space-between;
  text-align: center;
  
  padding: 0.2rem 1rem;

  background: linear-gradient(
    to right,
    var(--color-tests-success-current) 0%,
    var(--color-tests-success-current) var(--rate),
    var(--color-tests-failure-current) var(--rate),
    var(--color-tests-failure-current) 100%
  );
  font-size: 1.8rem;
}
h2::before {
  padding-right: 1.4rem;
}

</style>
