<script setup lang="ts">
import type { QualityReport } from 'reportSchema'
import { computed } from 'vue';
  
const props = defineProps<{
  report: QualityReport
}>()

const styles = computed(() => ({ '--rate': (props.report.rate * 100) + '%' }))

</script>

<template>
  <article>
    <h2 class="mdi mdi-motion-play"  :style="styles">Qualité</h2>
    <span class="rate"  :style="styles">      
      <span data-test="rate">{{ (report.rate * 100).toFixed(0) }}%</span>
      <span class="mdi mdi-information"/>
      <span class="penalty">
        Vous êtes à {{ (100.0 - report.rate * 100).toFixed(0) }}% du maximum.<br/>
        Vous perdez ({{ (100.0 - report.rate * 100).toFixed(0) }}% / 2) = {{ (50.0 - report.rate * 50.0).toFixed(0) }}% des points.
      </span>
    </span>
    <ul>
      <li 
        v-for="(rate, criterion) in report.criteria"
        :key="criterion"
        :data-test="criterion"
        :style="{'--rate': (rate * 100) + '%'}">
        <span class="criterion">
          {{ criterion }}:
        </span>
        <span class="cirterion-rate">
          {{ (rate * 100).toFixed(0) }}%
        </span>
      </li>
    </ul>
  </article>
</template>

<style scoped>
article {
  margin: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 3%);
  
  display: grid;  
  grid: 
    "header" 1fr
    "rate"    1fr
    "details"   auto
    / 1fr;
  place-items: stretch;
  text-align: center;
  
  font-size: 1.8rem;
}

article > *, li {
  padding-left: 1rem;
  padding-right: 1rem;
  background: linear-gradient(
    to right,
    var(--color-tests-success-current) 0%,
    var(--color-tests-success-current) var(--rate),
    var(--color-tests-failure-current) var(--rate),
    var(--color-tests-failure-current) 100%
  );
}

h2 {
  padding-top: 0.2rem;
  grid-area: header;
}

h2::before {
  padding-right: 1rem;
}

.rate {
  position: relative;
  align-self: stretch;
  grid-area: rate;
}

.rate:hover .penalty {
  visibility: visible;
}

.penalty {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -5%;
  width: 110%;
  background-color: var(--color-background-tooltip);
  visibility: hidden;

  font-size: 1.4rem;
  padding: 0.2rem;
}

ul {
  font-size: 1.4rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  grid-area: details;
}

li {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  background: linear-gradient(
    to right,
    var(--color-tests-success-locked) 0%,
    var(--color-tests-success-locked) var(--rate),
    var(--color-tests-failure-locked) var(--rate),
    var(--color-tests-failure-locked) 100%
  );
}

.rate .mdi {
  padding-left: 0.4rem;
}
</style>
