<script setup lang="ts">
import type { Report } from 'reportSchema'
import { computed } from 'vue';
  
const props = defineProps<{
  report: Report
}>()

const equivalentMaximum = 20
const equivalentValue = computed(
  () => props.report.total.value / props.report.total.maximum * equivalentMaximum)
</script>

<template>
  <article >
    <h2>Total</h2>
    
    <ul>
      <template 
        v-for="(versionReport, versionName) in report.tests.versions"
        :key="versionName"
      >
        <li v-if="versionReport.status !== 'future'" :data-test="versionName">
          <span :class="[
            'version-name', 
            'mdi', 
            'mdi-' + (versionReport.status === 'locked' ? 'lock' : 'motion-play') 
          ]">
            {{ versionName }}:
          </span>
          <span class="version-grade">
            <span class="grade-value">{{ versionReport.grade.value.toFixed(2) }}</span>
            <span class="grade-maximum">{{ versionReport.grade.maximum.toFixed(2) }}</span>
          </span>
        </li>
      </template>
      <li>
        <span class="all-tests mdi mdi-motion-play">Tous les tests:</span>
        <span class="all-tests-grade">
          <span class="grade-value">{{ report.tests.full.grade.value.toFixed(2) }}</span>
          <span class="grade-maximum">{{ report.tests.full.grade.maximum.toFixed(0) }}</span>
        </span>
      </li>
      <li>
        <span class="quality-penalty-label  mdi mdi-motion-play">Pénalité lié à la qualité:</span>
        <span class="quality-penalty-value">
          - {{ (report.quality.penalty * 100).toFixed(0) }}%
        </span>
      </li>
    </ul>

    <div class="total-grade grade">
      <span class="grade-value">{{ props.report.total.value.toFixed(2) }}</span>
      <span class="grade-maximum">{{ props.report.total.maximum.toFixed(2) }}</span>
      <span class="mdi mdi-information"/>
      
      <span class="equivalent-grade">
        Si le projet s'arrêtait maintenant, vous auriez <br/>
        <div class="grade">
          <span class="grade-value">{{ equivalentValue.toFixed(2) }}</span>
          <span class="grade-maximum">{{ equivalentMaximum.toFixed(0) }}</span>
        </div>
      </span>
    </div>
  </article>

</template>

<style scoped>
article {
  margin: 0.5rem;
  border: 0.15rem solid hsl(0, 0%, 3%);

  background-color: hsla(207, 100%, 50%, 0.438);
  
  display: flex;  
  flex-direction: column;
  place-items: stretch;
  justify-content: space-between;
  text-align: center;
  
  font-size: 1.8rem;
}

ul {
  font-size: 1.4rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  grid-area: details;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
  background: linear-gradient(
    to right,
    var(--color-tests-success-locked) 0%,
    var(--color-tests-success-locked) var(--rate),
    var(--color-tests-failure-locked) var(--rate),
    var(--color-tests-failure-locked) 100%
  );

  display: flex;
  justify-content: space-between;
}

li .mdi::before {
  padding-right: 0.3rem;
}

.quality-penalty-value {
  padding-left: 0.5rem;
}

.total-grade .mdi {
  padding-left: 1rem;
}

.total-grade:hover .equivalent-grade {
  visibility: visible;
}

.equivalent-grade {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -5%;
  width: 110%;
  background-color: var(--color-background-tooltip);
  visibility: hidden;

  font-size: 1.4rem;
  padding: 0.2rem;
}
</style>
